.footer {
    background-color: $lightGreen;
    padding: 4rem 3.5rem 5rem;
    text-align: center;
}

.footer__container {
    max-width: 1100px;
    margin: 0 auto;
}

.footer__logo {
    height: 32px;
    margin-bottom: 2.5rem;
    color: $darkCyan;

    & path {
        fill: currentColor;
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    max-width: 19rem;
    margin: 0 auto 5.5rem;
}

.footer__nav__item {
    font-family: $barlow;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $darkCyan;
}
