.section-one {
    @include breakpoint-up(large) {
        height: 37.5rem;
    }

    &-transform {
        @include breakpoint-up(xlarge) {
            background-image: linear-gradient(to right, $white 50%, #ffd501 50%);
        }
    }

    &-standout {
        @include breakpoint-up(xlarge) {
            background-image: linear-gradient(to right, #ff8071 50%, $white 50%);
        }
    }
}

.section-one__container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.section-one__img {
    height: 83vw;
    max-height: 37.5rem;
    width: 100%;
    background-size: cover;
    background-position: center center;

    &-transform {
        background-image: url('/images/mobile/image-transform.jpg');

        @include breakpoint-up(large) {
            grid-column: 2 / 3;
            grid-row-start: 1;
            background-image: url('/images/desktop/image-transform.jpg');
        }
    }

    &-standout {
        background-image: url('/images/mobile/image-stand-out.jpg');

        @include breakpoint-up(large) {
            background-image: url('/images/desktop/image-stand-out.jpg');
        }
    }
}

.section-one__content {
    padding: 4rem 1.5rem;
    text-align: center;

    @include breakpoint-up(medium) {
        padding: 6rem;
    }

    @include breakpoint-up(large) {
        padding: 9rem 4rem 8rem;
        text-align: left;
    }

    &-transform {
        @include breakpoint-up(large) {
            grid-column: 1 / 2;
            grid-row-start: 1;
        }

        @include breakpoint-up(xlarge) {
            padding: 9rem 6.5rem 9rem 10rem;
        }
    }

    &-standout {
        @include breakpoint-up(xlarge) {
            padding: 9rem 10rem 9rem 6.5rem;
        }
    }
}

.section-one__heading {
    max-width: 20rem;
    margin: 0 auto 1.5rem;
    font-family: $fraunces;
    font-size: 2rem;
    font-weight: $black;
    line-height: 2.5rem;
    color: $veryDarkBlue;

    @include breakpoint-up(medium) {
        max-width: 25rem;
        margin: 0 auto 2rem;
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    @include breakpoint-up(large) {
        margin: 0 0 2rem;
    }
}

.section-one__text {
    max-width: 25rem;
    margin: 0 auto 2rem;
    font-family: $barlow;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: $veryDarkGrayishBlue;

    @include breakpoint-up(medium) {
        margin: 0 auto 2.5rem;
    }

    @include breakpoint-up(large) {
        max-width: 30rem;
        margin: 0 0 2.5rem;
    }
}

.section-one__link {
    position: relative;
    padding: 0 0.5rem;
    font-family: $fraunces;
    font-size: 1rem;
    font-weight: $black;
    line-height: 1.5rem;
    color: $veryDarkBlue;
    text-transform: uppercase;
    z-index: 3;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.125rem;
        height: 0.625rem;
        border-radius: 5px;
        z-index: -1;
        opacity: 0.25;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &-transform {
        &::after {
            background-color: $yellow;
        }
    }

    &-standout {
        &::after {
            background-color: $softRed;
        }
    }
}