.mobile-nav {
    position: absolute;
    top: 4.625rem;
    width: 100%;
    padding: 2.5rem 0;
    background-color: $white;

    &::before {
        content: '';
        position: absolute;
        top: -1.5rem;
        right: 0;
        height: 1.5rem;
        width: 1.5rem;
        border-top: 0.75rem solid transparent;
        border-right: 0.75rem solid $white;
        border-bottom: 0.75rem solid $white;
        border-left: 0.75rem solid transparent;
    }

    @include breakpoint-up(medium) {
        padding: 3.5rem 0;
    }

    @include breakpoint-up(large) {
        display: none;
    }
}

.mobile-nav__link {
    display: block;
    margin-bottom: 2rem;
    font-family: $barlow;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $veryDarkGrayishBlue;

    @include breakpoint-up(medium) {
        margin-bottom: 3rem;
    }
}

.mobile-nav__button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $yellow;
    border-radius: 1.75rem;
    font-family: $fraunces;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $veryDarkBlue;
    text-transform: uppercase;
}