.section-two {

}

.section-two__design {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 160vw;
    padding: 3.75rem 1.5rem;
    background-image: url('/images/mobile/image-graphic-design.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: $darkDesaturatedCyan;
}

.section-two__photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 160vw;
    padding: 3.75rem 1.5rem;
    background-image: url('/images/mobile/image-photography.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: $darkBlue;
}

.section-two__heading {
    margin-bottom: 1.75rem;
    font-family: $fraunces;
    font-size: 1.75rem;
    font-weight: $black;
    line-height: 2.25rem;
}

.section-two__text {
    margin: 0 auto;
    max-width: 24rem;
    font-family: $barlow;
    font-size: 1rem;
    line-height: 1.75rem;
}