.standout {
    @include breakpoint-up(large) {
        height: 37.5rem;
    }

    @include breakpoint-up(xlarge) {
        background-image: linear-gradient(to right, #ff8071 50%, $white 50%);
    }
}

.standout__container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.standout__img {
    height: 83vw;
    max-height: 37.5rem;
    width: 100%;
    background-image: url('/images/mobile/image-stand-out.jpg');
    background-size: cover;
    background-position: center center;

    @include breakpoint-up(large) {
        background-image: url('/images/desktop/image-stand-out.jpg');
    }
}

.standout__content {
    padding: 4rem 1.5rem;
    text-align: center;

    @include breakpoint-up(medium) {
        padding: 6rem;
    }

    @include breakpoint-up(large) {
        padding: 9rem 4rem 8rem;
        text-align: left;
    }

    @include breakpoint-up(xlarge) {
        padding: 9rem 10rem 9rem 6.5rem;
    }
}

